h3{
    text-align: right;

}
address{
    text-align: right;
    font-style: italic;
}
.cap{
    text-align: right;
}
h2{
    font-family: bad script;
    text-indent: 30px;
}
.text{
    font-family: bad script;
    text-indent: 30px;
}
pre{
    font-family: 'Times New Roman', Times, serif;
}